# PDGA Results

## *<u>Documentation</u>*

[Authorization](https://www.pdga.com/dev/api/rest/v1/auth)

[API call examples](https://www.pdga.com/dev/api/rest/v1/services)

> **Note**: The PDGA Developer Program is currently closed. We are not accepting new applications for the PDGA Developer Program at this time. We do anticipate opening up the program again in the future once development of an updated version of the API is complete.


## *<u>Import functions</u>*

In [1]:
from functions import *
import psycopg2
# import requests
# from bs4 import BeautifulSoup as bs
# import pandas as pd
# import itertools
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import itertools
import time

%load_ext autoreload
%autoreload 2

## *<u>Scrape Events</u>*

In [2]:
event_details = events_list(2023)
event_details[:3]

[('DGPT - Las Vegas Challenge presented by Innova',
  'https://www.pdga.com/tour/event/65206'),
 ('DGPT - Prodigy presents WACO', 'https://www.pdga.com/tour/event/66457'),
 ('DGPT - The Open at Austin presented by Lone Star Disc',
  'https://www.pdga.com/tour/event/65288')]

In [3]:
events = []
events_errors = []

for event_name,link in event_details:
    try:
        events.append(Event(name=event_name, url=link))
    except:
        print(link)
        events_errors.append(link)
    time.sleep(1)

In [4]:
events[0].results_df.head(10)

   Place           Player  PDGA Number  Player Rating Score
0      1  Calvin Heimburg        45971           1041   -31
1      2    Ezra Aderhold       121715           1029   -29
2      2      Kevin Jones        41760           1031   -29
3      4       Kyle Klein        85132           1039   -28
4      4      Drew Gibson        48346           1035   -28
5      6      Paul McBeth        27523           1050   -27
6      7  Zach Arlinghaus        65266           1008   -26
7      8        Matt Bell        48950           1021   -25
8      8      Corey Ellis        44512           1033   -25
9      8     Matthew Orum        18330           1040   -25

In [5]:
len(events)

20

In [6]:
len(events_errors)

0

In [10]:
connection, postgres = connect_to_sql()

for event in events:
    print(event.create_table_query)
    
close_connection(connection, postgres)

CREATE TABLE "LAS VEGAS CHALLENGE, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "WACO, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "THE OPEN AT AUSTIN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "MUSIC CITY OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "PDGA CHAMPIONS CUP, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "JONESBORO OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "OTB OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "DGPT ELITE+ PORTLAND OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "DYNAMIC DISCS OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "THE TRUBANK DES MOINES CHALLENGE, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "THE PRESERVE CHAMPIONSHIP, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "PDGA PROFESSIONAL MASTERS DISC GOLF WORLD CHAMPIONSHIPS, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "PCS OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "EUROPEAN OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "DISCRAFT LEDGESTONE OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "LWS OPEN AT IDLEWILD, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "DISCRAFT GREAT LAKES OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "PDGA PROFESSIONAL DISC GOLF WORLD CHAMPIONSHIPS, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "MVP OPEN, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);
CREATE TABLE "DISC GOLF PRO TOUR CHAMPIONSHIP, 2023" (
     "Place" int
    ,"Player" varchar(100)
    ,"PDGA Number" bigint
    ,"Player Rating" int
    ,"Score" varchar(10)
);

In [12]:
connection, postgres = connect_to_sql()

for event in events:
    postgres.execute(event.table_exists_query)
    
    if not postgres.fetchone():
        print(f'Table named "{event.table_name}" does not exist.')
        postgres.execute(event.create_table_query)
        
    else:
        print(f'Table named "{event.table_name}" already exists.')
        pass
    
    postgres.execute(event.insert_values_query)
    
    print(f'Values inserted into "{event.table_name}" table.')
    
close_connection(connection, postgres)

Table named "LAS VEGAS CHALLENGE, 2023" already exists.
Values inserted into "LAS VEGAS CHALLENGE, 2023" table.
Table named "WACO, 2023" already exists.
Values inserted into "WACO, 2023" table.
Table named "THE OPEN AT AUSTIN, 2023" already exists.
Values inserted into "THE OPEN AT AUSTIN, 2023" table.
Table named "MUSIC CITY OPEN, 2023" already exists.
Values inserted into "MUSIC CITY OPEN, 2023" table.
Table named "PDGA CHAMPIONS CUP, 2023" already exists.
Values inserted into "PDGA CHAMPIONS CUP, 2023" table.
Table named "JONESBORO OPEN, 2023" already exists.
Values inserted into "JONESBORO OPEN, 2023" table.
Table named "OTB OPEN, 2023" already exists.
Values inserted into "OTB OPEN, 2023" table.
Table named "DGPT ELITE+ PORTLAND OPEN, 2023" already exists.
Values inserted into "DGPT ELITE+ PORTLAND OPEN, 2023" table.
Table named "DYNAMIC DISCS OPEN, 2023" already exists.
Values inserted into "DYNAMIC DISCS OPEN, 2023" table.
Table named "THE TRUBANK DES MOINES CHALLENGE, 2023" already exists.
Values inserted into "THE TRUBANK DES MOINES CHALLENGE, 2023" table.
Table named "THE PRESERVE CHAMPIONSHIP, 2023" already exists.
Values inserted into "THE PRESERVE CHAMPIONSHIP, 2023" table.
Table named "PDGA PROFESSIONAL MASTERS DISC GOLF WORLD CHAMPIONSHIPS, 2023" already exists.
Values inserted into "PDGA PROFESSIONAL MASTERS DISC GOLF WORLD CHAMPIONSHIPS, 2023" table.
Table named "PCS OPEN, 2023" already exists.
Values inserted into "PCS OPEN, 2023" table.
Table named "EUROPEAN OPEN, 2023" already exists.
Values inserted into "EUROPEAN OPEN, 2023" table.
Table named "DISCRAFT LEDGESTONE OPEN, 2023" already exists.
Values inserted into "DISCRAFT LEDGESTONE OPEN, 2023" table.
Table named "LWS OPEN AT IDLEWILD, 2023" already exists.
Values inserted into "LWS OPEN AT IDLEWILD, 2023" table.
Table named "DISCRAFT GREAT LAKES OPEN, 2023" already exists.
Values inserted into "DISCRAFT GREAT LAKES OPEN, 2023" table.
Table named "PDGA PROFESSIONAL DISC GOLF WORLD CHAMPIONSHIPS, 2023" already exists.
Values inserted into "PDGA PROFESSIONAL DISC GOLF WORLD CHAMPIONSHIPS, 2023" table.
Table named "MVP OPEN, 2023" already exists.
Values inserted into "MVP OPEN, 2023" table.
Table named "DISC GOLF PRO TOUR CHAMPIONSHIP, 2023" already exists.
Values inserted into "DISC GOLF PRO TOUR CHAMPIONSHIP, 2023" table.

In [8]:
please break

SyntaxError: invalid syntax (<ipython-input-8-bd93cd1909cb>, line 1)

## *<u>Scrape Players</u>*

In [13]:
players_links = players_links_list()
players_links[:5]

['https://www.pdga.com/player/75412',
 'https://www.pdga.com/player/45971',
 'https://www.pdga.com/player/50670',
 'https://www.pdga.com/player/38008',
 'https://www.pdga.com/player/8332']

In [14]:
players = []
player_errors = []

for link in players_links:
    try:
        players.append(Player(url=link))
    except:
        print(link)
        errors.append(link)
    time.sleep(1)

In [15]:
len(players)

118

In [16]:
len(player_errors)

0

In [57]:
players[0]

Gannon Buhr

In [18]:
players[0].__dict__

{'_base_url': None,
 'search_url': None,
 '_search_first_name': None,
 '_search_last_name': None,
 'url': 'https://www.pdga.com/player/75412',
 'pdga_number': 75412,
 'official_name': 'Gannon Buhr',
 'first_name': 'Gannon',
 'last_name': 'Buhr',
 'rating': 1044,
 'total_score': 0,
 'number_of_events': 0,
 'average_score': 0,
 'player_results': {2023: {}},
 'is_active': False}

In [ ]:
for i,x in events[0].results_df.iterrows():
    print(x)

## *<u>Calculate Player Scores</u>*

In [27]:
for player in players:
    player.player_results = {2023: {}}

In [28]:
for player in players:
    for event in events:
        player.fantasy_score(event)

In [29]:
players_sorted = sorted(players, key=lambda p: p.average_score)

for i,player in enumerate(players_sorted):
    print(player.years_results(2023, i+1))

********************
 1. Calvin Heimburg
********************
Number of events: 19
Total score: 75
Average score: 3.947
Weighted average: 7.895

****************
 2. Gannon Buhr
****************
Number of events: 17
Total score: 205
Average score: 12.059
Weighted average: 24.118

********************
 3. Richard Wysocki
********************
Number of events: 14
Total score: 204
Average score: 14.571
Weighted average: 29.143

*****************
 4. Matthew Orum
*****************
Number of events: 16
Total score: 235
Average score: 14.688
Weighted average: 29.375

******************
 5. James Proctor
******************
Number of events: 18
Total score: 288
Average score: 16.000
Weighted average: 32.000

*******************
 6. Isaac Robinson
*******************
Number of events: 18
Total score: 295
Average score: 16.389
Weighted average: 32.778

******************
 7. Simon Lizotte
******************
Number of events: 15
Total score: 246
Average score: 16.400
Weighted average: 32.800

******************
 8. Ezra Robinson
******************
Number of events: 16
Total score: 274
Average score: 17.125
Weighted average: 34.250

********************
 9. Chris Dickerson
********************
Number of events: 15
Total score: 268
Average score: 17.867
Weighted average: 35.733

*******************
 10. Eagle McMahon
*******************
Number of events: 15
Total score: 270
Average score: 18.000
Weighted average: 36.000

*****************
 11. Paul McBeth
*****************
Number of events: 9
Total score: 178
Average score: 19.778
Weighted average: 39.556

******************
 12. Cole Redalen
******************
Number of events: 17
Total score: 357
Average score: 21.000
Weighted average: 42.000

******************
 13. Alden Harris
******************
Number of events: 18
Total score: 383
Average score: 21.278
Weighted average: 42.556

******************
 14. Joel Freeman
******************
Number of events: 14
Total score: 313
Average score: 22.357
Weighted average: 44.714

****************
 15. Kyle Klein
****************
Number of events: 17
Total score: 387
Average score: 22.765
Weighted average: 45.529

*******************
 16. Aaron Gossage
*******************
Number of events: 19
Total score: 443
Average score: 23.316
Weighted average: 46.632

********************
 17. Anthony Barela
********************
Number of events: 18
Total score: 442
Average score: 24.556
Weighted average: 49.111

******************
 18. Väinö Mäkelä
******************
Number of events: 12
Total score: 304
Average score: 25.333
Weighted average: 50.667

****************
 19. Evan Smith
****************
Number of events: 10
Total score: 272
Average score: 27.200
Weighted average: 54.400

*****************
 20. Kevin Jones
*****************
Number of events: 18
Total score: 515
Average score: 28.611
Weighted average: 57.222

*******************
 21. Ezra Aderhold
*******************
Number of events: 18
Total score: 523
Average score: 29.056
Weighted average: 58.111

********************
 22. Niklas Anttila
********************
Number of events: 11
Total score: 330
Average score: 30.000
Weighted average: 60.000

**********************
 23. Bradley Williams
**********************
Number of events: 17
Total score: 515
Average score: 30.294
Weighted average: 60.588

*****************
 24. Luke Taylor
*****************
Number of events: 9
Total score: 277
Average score: 30.778
Weighted average: 61.556

******************
 25. James Conrad
******************
Number of events: 18
Total score: 559
Average score: 31.056
Weighted average: 62.111

********************
 26. Nikko Locastro
********************
Number of events: 17
Total score: 535
Average score: 31.471
Weighted average: 62.941

****************
 27. Mason Ford
****************
Number of events: 15
Total score: 476
Average score: 31.733
Weighted average: 63.467

***********************
 28. Benjamin Callaway
***********************
Number of events: 17
Total score: 540
Average score: 31.765
Weighted average: 63.529

*******************
 29. Chris Clemons
*******************
Number of events: 17
Total score: 546
Average score: 32.118
Weighted average: 64.235

*********************
 30. Andrew Presnell
*********************
Number of events: 17
Total score: 596
Average score: 35.059
Weighted average: 70.118

*****************
 31. Corey Ellis
*****************
Number of events: 16
Total score: 566
Average score: 35.375
Weighted average: 70.750

*********************
 32. Garrett Gurthie
*********************
Number of events: 16
Total score: 577
Average score: 36.062
Weighted average: 72.125

*********************
 33. Sullivan Tipton
*********************
Number of events: 10
Total score: 363
Average score: 36.300
Weighted average: 72.600

*****************
 34. Eric Oakley
*****************
Number of events: 18
Total score: 662
Average score: 36.778
Weighted average: 73.556

********************
 35. Joona Heinänen
********************
Number of events: 8
Total score: 297
Average score: 37.125
Weighted average: 74.250

*******************
 36. Jakub Semerád
*******************
Number of events: 11
Total score: 409
Average score: 37.182
Weighted average: 74.364

*********************
 37. Robert Burridge
*********************
Number of events: 18
Total score: 682
Average score: 37.889
Weighted average: 75.778

********************
 38. Andrew Marwede
********************
Number of events: 13
Total score: 493
Average score: 37.923
Weighted average: 75.846

*****************
 39. Adam Hammes
*****************
Number of events: 19
Total score: 721
Average score: 37.947
Weighted average: 75.895

*****************
 40. Aidan Scott
*****************
Number of events: 7
Total score: 267
Average score: 38.143
Weighted average: 76.286

****************
 41. Evan Scott
****************
Number of events: 15
Total score: 587
Average score: 39.133
Weighted average: 78.267

*****************
 42. Albert Tamm
*****************
Number of events: 15
Total score: 592
Average score: 39.467
Weighted average: 78.933

*********************
 43. Chandler Kramer
*********************
Number of events: 17
Total score: 684
Average score: 40.235
Weighted average: 80.471

*******************
 44. Silas Schultz
*******************
Number of events: 12
Total score: 494
Average score: 41.167
Weighted average: 82.333

****************
 45. Grady Shue
****************
Number of events: 7
Total score: 293
Average score: 41.857
Weighted average: 83.714

*******************
 46. Nathan Sexton
*******************
Number of events: 9
Total score: 379
Average score: 42.111
Weighted average: 84.222

*********************
 47. Zach Arlinghaus
*********************
Number of events: 15
Total score: 642
Average score: 42.800
Weighted average: 85.600

*******************
 48. Austin Turner
*******************
Number of events: 12
Total score: 522
Average score: 43.500
Weighted average: 87.000

*******************
 49. Emerson Keith
*******************
Number of events: 17
Total score: 747
Average score: 43.941
Weighted average: 87.882

*****************
 50. Drew Gibson
*****************
Number of events: 7
Total score: 312
Average score: 44.571
Weighted average: 89.143

***************
 51. Matt Bell
***************
Number of events: 13
Total score: 589
Average score: 45.308
Weighted average: 90.615

*******************
 52. Jeremy Koling
*******************
Number of events: 17
Total score: 771
Average score: 45.353
Weighted average: 90.706

*************
 53. Ty Love
*************
Number of events: 10
Total score: 458
Average score: 45.800
Weighted average: 91.600

*******************
 54. Dylan Seppala
*******************
Number of events: 5
Total score: 231
Average score: 46.200
Weighted average: 92.400

*******************
 55. Paul Ulibarri
*******************
Number of events: 19
Total score: 883
Average score: 46.474
Weighted average: 92.947

********************
 56. Luke Humphries
********************
Number of events: 18
Total score: 853
Average score: 47.389
Weighted average: 94.778

*********************
 57. Joseph Anderson
*********************
Number of events: 6
Total score: 288
Average score: 48.000
Weighted average: 96.000

******************
 58. Brodie Smith
******************
Number of events: 18
Total score: 865
Average score: 48.056
Weighted average: 96.111

**********************
 59. Jake Hebenheimer
**********************
Number of events: 16
Total score: 776
Average score: 48.500
Weighted average: 97.000

*******************
 60. Gavin Babcock
*******************
Number of events: 18
Total score: 875
Average score: 48.611
Weighted average: 97.222

*******************
 61. Austin Hannum
*******************
Number of events: 16
Total score: 780
Average score: 48.750
Weighted average: 97.500

*******************
 62. Gavin Rathbun
*******************
Number of events: 15
Total score: 737
Average score: 49.133
Weighted average: 98.267

******************
 63. Parker Welck
******************
Number of events: 17
Total score: 849
Average score: 49.941
Weighted average: 99.882

*****************
 64. Andrew Fish
*****************
Number of events: 15
Total score: 753
Average score: 50.200
Weighted average: 100.400

***********************
 65. Tuomas Hyytiäinen
***********************
Number of events: 10
Total score: 513
Average score: 51.300
Weighted average: 102.600

******************
 66. Gregg Barsby
******************
Number of events: 13
Total score: 679
Average score: 52.231
Weighted average: 104.462

*****************
 67. Micah Groth
*****************
Number of events: 4
Total score: 209
Average score: 52.250
Weighted average: 104.500

*******************
 68. Scott Withers
*******************
Number of events: 8
Total score: 424
Average score: 53.000
Weighted average: 106.000

***************
 69. Paul Oman
***************
Number of events: 12
Total score: 637
Average score: 53.083
Weighted average: 106.167

*****************
 70. Casey White
*****************
Number of events: 14
Total score: 767
Average score: 54.786
Weighted average: 109.571

*******************
 71. Braeden Sides
*******************
Number of events: 3
Total score: 165
Average score: 55.000
Weighted average: 110.000

***************
 72. Ben Wolff
***************
Number of events: 3
Total score: 165
Average score: 55.000
Weighted average: 110.000

********************
 73. Tristan Tanner
********************
Number of events: 18
Total score: 991
Average score: 55.056
Weighted average: 110.111

*****************
 74. Luke Samson
*****************
Number of events: 18
Total score: 993
Average score: 55.167
Weighted average: 110.333

**********************
 75. Michael Johansen
**********************
Number of events: 4
Total score: 221
Average score: 55.250
Weighted average: 110.500

***************
 76. Jake Monn
***************
Number of events: 15
Total score: 831
Average score: 55.400
Weighted average: 110.800

****************
 77. Tim Barham
****************
Number of events: 11
Total score: 617
Average score: 56.091
Weighted average: 112.182

**********************
 78. Kevin Kiefer III
**********************
Number of events: 12
Total score: 677
Average score: 56.417
Weighted average: 112.833

******************
 79. Nathan Queen
******************
Number of events: 11
Total score: 621
Average score: 56.455
Weighted average: 112.909

***********************
 80. Colten Montgomery
***********************
Number of events: 13
Total score: 741
Average score: 57.000
Weighted average: 114.000

*****************
 81. Nate Hecker
*****************
Number of events: 7
Total score: 402
Average score: 57.429
Weighted average: 114.857

******************
 82. G.T. Hancock
******************
Number of events: 12
Total score: 690
Average score: 57.500
Weighted average: 115.000

********************
 83. Thomas Gilbert
********************
Number of events: 14
Total score: 808
Average score: 57.714
Weighted average: 115.429

*******************
 84. Cody Kirkland
*******************
Number of events: 3
Total score: 175
Average score: 58.333
Weighted average: 116.667

**********************
 85. Mason Marchbanks
**********************
Number of events: 11
Total score: 650
Average score: 59.091
Weighted average: 118.182

*****************
 86. Silver Lätt
*****************
Number of events: 4
Total score: 240
Average score: 60.000
Weighted average: 120.000

******************
 87. Max Regitnig
******************
Number of events: 11
Total score: 675
Average score: 61.364
Weighted average: 122.727

******************
 88. Zachary Nash
******************
Number of events: 12
Total score: 746
Average score: 62.167
Weighted average: 124.333

******************
 89. Chandler Fry
******************
Number of events: 14
Total score: 871
Average score: 62.214
Weighted average: 124.429

******************
 90. Raven Newsom
******************
Number of events: 14
Total score: 874
Average score: 62.429
Weighted average: 124.857

*********************
 91. Connor O'Reilly
*********************
Number of events: 16
Total score: 1005
Average score: 62.812
Weighted average: 125.625

*****************
 92. Jared Stoll
*****************
Number of events: 11
Total score: 695
Average score: 63.182
Weighted average: 126.364

******************
 93. Clint Calvin
******************
Number of events: 5
Total score: 340
Average score: 68.000
Weighted average: 136.000

*****************
 94. Connor Rock
*****************
Number of events: 10
Total score: 682
Average score: 68.200
Weighted average: 136.400

***********************
 95. Knut Valen Håland
***********************
Number of events: 2
Total score: 137
Average score: 68.500
Weighted average: 137.000

*****************
 96. Nick Newton
*****************
Number of events: 7
Total score: 482
Average score: 68.857
Weighted average: 137.714

**************
 97. AJ Carey
**************
Number of events: 15
Total score: 1066
Average score: 71.067
Weighted average: 142.133

******************
 98. Clay Edwards
******************
Number of events: 15
Total score: 1080
Average score: 72.000
Weighted average: 144.000

********************
 99. Linus Carlsson
********************
Number of events: 7
Total score: 507
Average score: 72.429
Weighted average: 144.857

******************
 100. Nick Hanson
******************
Number of events: 9
Total score: 655
Average score: 72.778
Weighted average: 145.556

****************
 101. Jaden Rye
****************
Number of events: 7
Total score: 510
Average score: 72.857
Weighted average: 145.714

*******************
 102. Randon Latta
*******************
Number of events: 12
Total score: 878
Average score: 73.167
Weighted average: 146.333

*****************
 103. Jake Wolff
*****************
Number of events: 17
Total score: 1255
Average score: 73.824
Weighted average: 147.647

*****************
 104. John Jones
*****************
Number of events: 5
Total score: 370
Average score: 74.000
Weighted average: 148.000

********************
 105. Joshua Anthon
********************
Number of events: 5
Total score: 373
Average score: 74.600
Weighted average: 149.200

*************************
 106. Zackeriath Johnson
*************************
Number of events: 13
Total score: 972
Average score: 74.769
Weighted average: 149.538

*********************
 107. Garett Everson
*********************
Number of events: 7
Total score: 524
Average score: 74.857
Weighted average: 149.714

************************
 108. Jonathan Fletcher
************************
Number of events: 4
Total score: 300
Average score: 75.000
Weighted average: 150.000

*****************
 109. Fredy Meza
*****************
Number of events: 7
Total score: 526
Average score: 75.143
Weighted average: 150.286

********************
 110. Noah Meintsma
********************
Number of events: 12
Total score: 904
Average score: 75.333
Weighted average: 150.667

******************
 111. Harry Chace
******************
Number of events: 2
Total score: 155
Average score: 77.500
Weighted average: 155.000

*******************
 112. Justin Rosak
*******************
Number of events: 14
Total score: 1099
Average score: 78.500
Weighted average: 157.000

********************
 113. Nicholas Gill
********************
Number of events: 5
Total score: 398
Average score: 79.600
Weighted average: 159.200

******************
 114. Zach Melton
******************
Number of events: 6
Total score: 484
Average score: 80.667
Weighted average: 161.333

*****************
 115. Jake Brown
*****************
Number of events: 14
Total score: 1163
Average score: 83.071
Weighted average: 166.143

******************
 116. Dylan Horst
******************
Number of events: 5
Total score: 419
Average score: 83.800
Weighted average: 167.600

********************
 117. Dustin Keegan
********************
Number of events: 3
Total score: 266
Average score: 88.667
Weighted average: 177.333

*********************
 118. Gavin Phillips
*********************
Number of events: 3
Total score: 266
Average score: 88.667
Weighted average: 177.333

In [30]:
players_sorted[0].__dict__

{'_base_url': None,
 'search_url': None,
 '_search_first_name': None,
 '_search_last_name': None,
 'url': 'https://www.pdga.com/player/45971',
 'pdga_number': 45971,
 'official_name': 'Calvin Heimburg',
 'first_name': 'Calvin',
 'last_name': 'Heimburg',
 'rating': 1052,
 'total_score': 75,
 'number_of_events': 19,
 'average_score': 3.947,
 'player_results': {2023: {'LAS VEGAS CHALLENGE, 2023': 1,
   'WACO, 2023': 3,
   'THE OPEN AT AUSTIN, 2023': 3,
   'MUSIC CITY OPEN, 2023': 3,
   'PDGA CHAMPIONS CUP, 2023': 16,
   'JONESBORO OPEN, 2023': 1,
   'OTB OPEN, 2023': 6,
   'DGPT ELITE+ PORTLAND OPEN, 2023': 7,
   'DYNAMIC DISCS OPEN, 2023': 2,
   'THE TRUBANK DES MOINES CHALLENGE, 2023': 3,
   'THE PRESERVE CHAMPIONSHIP, 2023': 2,
   'PCS OPEN, 2023': 3,
   'EUROPEAN OPEN, 2023': 4,
   'DISCRAFT LEDGESTONE OPEN, 2023': 2,
   'LWS OPEN AT IDLEWILD, 2023': 2,
   'DISCRAFT GREAT LAKES OPEN, 2023': 5,
   'PDGA PROFESSIONAL DISC GOLF WORLD CHAMPIONSHIPS, 2023': 5,
   'MVP OPEN, 2023': 4,
   'DISC GOLF PRO TOUR CHAMPIONSHIP, 2023': 3}},
 'is_active': False}

In [33]:
len(players_sorted[0].player_results[2023])

19

In [39]:
players_for_postgres = []

for player in players:
    for year, results in player.player_results.items():
        for event_name, place in results.items():
            _dict = {
                'Name': player.official_name,
                'Event Name': event_name,
                'Place': place,
                'Event Year': year,
                'Event Status': 'Complete'
            }
            
            players_for_postgres.append(_dict)

In [41]:
pd.DataFrame(players_for_postgres)

,Name,Event Name,Place,Event Year,Event Status
0,Gannon Buhr,"LAS VEGAS CHALLENGE, 2023",30,2023,Complete
1,Gannon Buhr,"WACO, 2023",24,2023,Complete
2,Gannon Buhr,"THE OPEN AT AUSTIN, 2023",1,2023,Complete
3,Gannon Buhr,"MUSIC CITY OPEN, 2023",3,2023,Complete
4,Gannon Buhr,"PDGA CHAMPIONS CUP, 2023",7,2023,Complete
...,...,...,...,...,...
1440,Dylan Horst,"PDGA CHAMPIONS CUP, 2023",71,2023,Complete
1441,Dylan Horst,"JONESBORO OPEN, 2023",70,2023,Complete
1442,Dylan Horst,"DISCRAFT LEDGESTONE OPEN, 2023",72,2023,Complete
1443,Dylan Horst,"LWS OPEN AT IDLEWILD, 2023",55,2023,Complete
1444,Dylan Horst,PDGA PROFESSIONAL DISC GOLF WORLD CHAMPIONSHIP...,151,2023,Complete

## *<u>Create League</u>*

In [73]:
fantasy_league = League(name='Innova Our Heads', players=players)

In [55]:
connection, postgres = connect_to_sql()

postgres.execute(fantasy_league.table_exists_query)
    
if not postgres.fetchone():
    print(f'Table named "{fantasy_league.player_table_name}" does not exist.')
    postgres.execute(fantasy_league.create_table_query)
        
else:
    print(f'Table named "{fantasy_league.player_table_name}" already exists.')
    pass
    
postgres.execute(fantasy_league.insert_values_query)
    
print(f'Values inserted into "{fantasy_league.player_table_name}" table.')
    
close_connection(connection, postgres)

Table named "Players" does not exist.
Values inserted into "Players" table.

In [58]:
fantasy_league.player_data[0]

{'Name': 'Gannon Buhr',
 'PDGA Number': 75412,
 'Event Name': 'LAS VEGAS CHALLENGE, 2023',
 'Place': 30,
 'Event Year': 2023,
 'Event Status': 'Complete'}

## *<u>Create Team</u>*

In [76]:
josh = Team('Joshua Szymanowski', 'The Holy Rollers', players)

AttributeError: 'Team' object has no attribute '_active_limit'

In [ ]:
josh

In [ ]:
josh.roster

In [ ]:
players[:10]

In [ ]:
players[0]

In [ ]:
players[0] == 'Gannon Buhr'

In [ ]:
for player in players[:10]:
    josh += player

In [ ]:
josh.roster

In [ ]:
josh.active_roster

In [ ]:
josh.team_results()

In [ ]:
players_to_drop = [
    'Isaac Robinson',
    'Kyle Klein',
    'Matthew Orum'
]

In [ ]:
for player in players_to_drop:
    josh -= player

In [ ]:
josh.roster[0].__dict__

In [ ]:
please break